apiVersion: apps/v1
kind: Deployment
metadata:
 name: grafana
 labels:
  app: grafana
spec:
 replicas: 1
 selector:
  matchLabels:
   app: grafana
 strategy:
  type: Recreate
 template:
  metadata:
   labels:
    app: grafana
  spec:
   restartPolicy: Always
   containers:
   - name: grafana
     image: grafana_img
     imagePullPolicy: Never
     ports:
     - containerPort: 3000
     env:
# DO i still need this?
     - name: INFLUX_IP
       value: influxdb-service.default.svc.cluster.local
     - name: GRAFANA_ADMIN_USER
       valueFrom:
        secretKeyRef:
         name: grafana-secrets
         key: user
     - name: GRAFANA_PASS
       valueFrom:
         secretKeyRef:
          name: grafana-secrets
          key: password
     - name: DB_URL
       value: "http://influxdb-service:8086"
     - name: DB_NAME
       value: "telegraf"
     livenessProbe:
      httpGet:
       path: /
       port: 3000
      initialDelaySeconds: 15
      periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
 name: grafana-service
 annotations:
#  metallb.universe.tf/allow-shared-ip: metallb
  metallb.universe.tf/allow-shared-ip: shared
spec:
 type: LoadBalancer
 selector:
  app: grafana
 externalTrafficPolicy: Cluster
 ports:
 - protocol: TCP
   port: 3000
   targetPort: 3000
   name: grafana-service-port
