#NGINX

# This makes it work when you are just using Containers, but you have to make sure
# the docker network is properly connected...
# Oh and the port number can only be specified here, doesn't work if you tell only
# the proxy_pass.
upstream docker-phpmyadmin {
	server phpmyadmin_service:5000;
}

server {
	# keeping this top line for now...
	listen 80;
	listen [::]:80;
#	server_name localhost;
	server_name _;
	# this is how you redirect from 80 to ssl 443
	return 301 https://$host$request_uri;
}

server {
	listen 443 ssl;
	listen [::]:443 ssl;

	ssl_certificate /etc/nginx/ssl/localhost.pem;
	ssl_certificate_key /etc/nginx/ssl/localhost.key;

#	root /var/www/localhost/wordpress;

	# new root
	# you need to not forget the ; at the end!!!!
	root /var/www/localhost;

	# not sure i need all these
	index index.html index.htm index.nginx-debian.html index.php;
#	index index.html;

		# maybe if i give this server the name localhost the whole
		# reverse proxy thing will work?
#	server_name localhost;
	server_name _;

	location / {
		try_files $uri $uri/ =404;
	}

	location /wordpress {
	#	proxy_pass https://$host:5050;
		return 307 https://$host:5050;
	}

	# ok so this whole thing was fucking up because i made a spelling mistake
	# in phpmyadmin i wrote phpmyaadmin
	# if i do location /phpmyadmin/ with / a the end it seems to have no effect, yet
	# but $request_uri adds /phpmyadmin every time, which we don't want...
	# oh and proxy_pass doesn't work yet...
	# if i don't set header i would have to use localhost not $host
	# but that is not very future proof
	# except using localhost doesn't seem to work either...
	location /phpmyadmin/ {
	#	rewrite ^/phpmyadmin(/.*)$ $1 break;
		rewrite /phpmyadmin(/.*) $1 break;
	#	rewrite /foo/(.*) /$1  break;
	#	proxy_set_header Origin https://$host;
		proxy_set_header Host $host;
	#	proxy_set_header Host $http_host;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	#	proxy_redirect off;
		proxy_pass https://docker-phpmyadmin/;
	#	proxy_pass https://$host:5000/;
	#	proxy_pass https://localhost:5000/;

		proxy_set_header X-Forwarded-Proto https;
		proxy_set_header X-Real-IP $remote_addr;
#		return 307 https://$host:5000;

		# this works
#		proxy_pass https://startpage.com;
	}
}
