server {
	listen 5050 ssl;
	listen [::]:5050 ssl;

	ssl_certificate /etc/nginx/ssl/localhost.pem;
	ssl_certificate_key /etc/nginx/ssl/localhost.key;

	root /var/www/localhost/wordpress;

	index index.php index.html index.htm;

	server_name _;

	location / {
		# First attempt to serve request as file, then
		# as directory, then fall back to displaying a 404.
		try_files $uri $uri/ =404;
	}

	location ~ \.php$ {
        fastcgi_pass      127.0.0.1:9000;
        fastcgi_index     index.php;
        include           fastcgi.conf;
	}
}
