# we don't need port 443, we can set up 5050 as our ssl port direct
# which i guess makes sense
server {
	listen 5050 ssl;
	listen [::]:5050 ssl;

	ssl_certificate /etc/nginx/ssl/localhost.pem;
	ssl_certificate_key /etc/nginx/ssl/localhost.key;

	# should it be just localhost? to be the same as phpmyadmin?
	# which for some reason freaks out when you give it a more detailed path
	# i prefer it this way, easier to load
	root /var/www/localhost/wordpress;
	# temporary for testing phpmyadmin
#	root /var/www/localhost/;
#	index info.php;

	index index.php index.html index.htm;

	server_name _;


# This prolly ought to be changed...
	location / {
		# First attempt to serve request as file, then
		# as directory, then fall back to displaying a 404.
		try_files $uri $uri/ =404;
	}

	location ~ \.php$ {
        fastcgi_pass      127.0.0.1:9000;
        fastcgi_index     index.php;
        include           fastcgi.conf;
	}

	# i think this was the old syntax for this stuff on Debian.
#	location ~ \.php$ {
#			include snippets/fastcgi-php.conf;
#			fastcgi_pass unix:/run/php/php7-fpm.sock;
#	}
}
