[mysqld]
user = root
datadir = /var/lib/mysql
port = 3306
bind-address = 0.0.0.0
# not sure what these do but i'll leave them for now
log-bin=/var/lib/mysql/mysql-bin
socket=/run/mysqld/mysqld.sock
skip-networking=false
