#PHPMYADMIN
server {
	listen 5000 ssl;
	listen [::]:5000 ssl;

	ssl_certificate /etc/nginx/ssl/localhost.pem;
	ssl_certificate_key /etc/nginx/ssl/localhost.key;

	# for a while it didn't work with the longer path
	# but for no apparent reason now it does, and i prefer it this way...

# trying it again with the shorter path
	root /var/www/localhost/phpmyadmin;
#	root /var/www/localhost/;

	index index.php index.html index.htm;
#	index info.php index.php index.html index.htm;

	server_name _;


# This prolly ought to be changed...
	location / {
#	location = / {
#		return	301 https://$host:5000/phpmyadmin;
		try_files $uri $uri/ =404;
	}

	# im gonna leave this for now but i expect it will need to be removed or changed
	location ~ \.php$ {
		try_files $uri $uri/ =404;
		fastcgi_pass      127.0.0.1:9000;
		fastcgi_index     index.php;
		include           fastcgi.conf;
	}

	# i think this was the old syntax for this stuff on Debian.
#	location /phpmyadmin {
#		try_files $uri $uri/ phpmyadmin/$uri phpmyadmin/index.php?$args;
#	}

#	location ~ \.php$ {
#			include snippets/fastcgi-php.conf;
#			fastcgi_pass unix:/run/php/php7-fpm.sock;
#	}
}
