#NGINX
server {
	listen 80;
	listen [::]:80;
	server_name _;
	# this is how you redirect from 80 to ssl 443
	return 301 https://$host$request_uri;
}

server {
	listen 443 ssl;
	listen [::]:443 ssl;

	ssl_certificate /etc/nginx/ssl/localhost.pem;
	ssl_certificate_key /etc/nginx/ssl/localhost.key;

	root /var/www/localhost;

	index index.html index.htm index.php;

	server_name _;

	location / {
		try_files $uri $uri/ =404;
	}

	location /wordpress {
		return 307 https://$host:5050;
	}

	# The reverse proxy does not work over 'localhost' or '$host' you need to use
	# the container or pod's IP.
	# To connect via Docker Containers directly use docker network and the name
	# of the phpmyadmin container as a substitute for it's IP
	# To connect via the Kubernetes Cluster
	# something IDK what yet...
	location /phpmyadmin/ {
	#	rewrite ^/phpmyadmin(/.*)$ $1 break;
	#	rewrite /foo/(.*) /$1  break;
		rewrite /phpmyadmin(/.*) $1 break;
		proxy_set_header Host $host;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		# ok this one works...
		proxy_pass https://phpmyadmin_service:5000/;
	#	proxy_pass https://docker-phpmyadmin/;
	#	proxy_pass https://$host:5000/;
	#	proxy_pass https://localhost:5000/;

		proxy_set_header X-Forwarded-Proto https;
		proxy_set_header X-Real-IP $remote_addr;
	#	proxy_set_header Host $http_host;
	#	proxy_redirect off;
	#	proxy_set_header Origin https://$host;
	}
}
